$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 20px $font-stack;
  color: $primary-color;
}

img.movie-poster {
	height: 215px;
	width: 150px;
}

@import "splash";

.movie button {
	position: absolute;
	top: 8px;
	right: 80px;
	margin: 0;
	padding: 0;
	border: 0;
}

.btn-add-movie {
	margin: 5px 20px 20px 20px;
}

nav input {
	vertical-align: middle;
	margin-top: 10px;
}
nav button {
	vertical-align: middle;
	margin-top: 5px;
}