<!-- PUT OMDB MOVIE POSTER AND MOVIE INFO HERE -->
<div class="container">
  <div class="row">
    {{#each this}} 
      <div class="col-md-3">
        <div class="movie">
          <img class="movie-poster" src="{{Poster}}" alt="{{Title}}" name="{{Year}}">
          <button id="btn-delete-movie" class="glyphicon glyphicon-remove-circle"></button>
        </div>

        <button class="btn-watched" type="button">Watched</button>

      </div>
    {{/each}}
  </div>
</div>