<!-- PUT OMDB MOVIE POSTER AND MOVIE INFO HERE -->
<div class="container">
  <div class="row">
    {{#each Search}} 
      <div class="col-md-4">
        <div class="movie">
          <img class="movie-poster" src="{{this.Poster}}" alt="{{this.Title}}">
          <button class="glyphicon glyphicon-remove-circle">
        </div>
        <button type="button">Watch</button>
      </div>
    {{/each}}
  </div>
</div>