<nav class="navbar navbar-default">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li class="active"><button type="button" class="btn btn-default" data-toggle="modal" data-target=".find-movies-modal">Find Movies</button></li>
       <li><button type="button" class="btn btn-default" data-toggle="modal" data-target=".search-movies-modal">Search My Movies</button></li>
     </ul>
     
     <ul class="nav navbar-nav navbar-right">
       <li><button class="btn btn-default" type="button">Logout</button></li>
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>


<div>
  <button class="btn btn-link">watched</button>
  <button class="btn btn-link">unwatched</button>
</div>


<div class="container container-fluid text-center">
  <div class="row">
    <div class="col-md-8">
      
    
    <!-- PUT OMDB MOVIE POSTER AND MOVIE INFO HERE -->
    <div class="container">
      <div class="row">
        {{#each Search}} 
          <div class="col-md-4">
            <div class="movie">
              <img class="movie-poster" src="{{this.Poster}}" alt="{{this.Title}}">
              <button class="glyphicon glyphicon-remove-circle"></button>
              <div class="year">{{{this.Year}}}</div>
            </div>
            <button type="button" class="btn-watched">Add</button>
          </div>
        {{/each}}
      </div>
    </div>
      
      <!-- MODALS -->
      <div id="find-movies-modal">
<div class="modal fade find-movies-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="row">
        <h1>Find Movies</h1>
      </div>
      
      <div class="row">
        <input id="titleText" type="text" name="find-movies" autofocus>
      </div>
      
      <div class="row">
        <button id="btn-find" class="btn btn-default" data-dismiss="modal">Search</button>
      </div>
      
    </div>
  </div>
</div>
      </div>

      <div id="search-movies-modal">
        <div class="modal fade search-movies-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="row">
        <h1>Search My Movies</h1>
      </div>
      
      <div class="row">
        <input type="text" name="find-movies" autofocus>
      </div>
      
      <div class="row">
        <button class="btn btn-default" data-dismiss="modal">Search</button>
      </div>
      
    </div>
  </div>
</div>
      </div>

    </div>
  </div>
</div>