<!-- PUT OMDB MOVIE POSTER AND MOVIE INFO HERE -->
<div class="container">
  <div class="row">
    {{#each movie}} 
      <div class="col-md-3">
        <div class="movie">
          <img class="movie-poster" src="{{this.Poster}}" alt="{{this.Title}}">
          <button id="btn-delete-movie" class="glyphicon glyphicon-remove-circle">
        </div>
        <button class="btn-add-movie" type="button">Add</button>
      </div>
    {{/each}}
  </div>
</div>