<nav class="navbar navbar-default">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li class="active"><button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Find Movies</button></li>
       <li><button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm">Search My Movies</button></li>
     </ul>
     
     <ul class="nav navbar-nav navbar-right">
       <li><button class="btn btn-default" type="button">Logout</button></li>
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>




<div class="container container-fluid text-center">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome to Movie History!</h1>
      <p>To get started: click on 'Find Movies' to add some movies to your collection.</p>
      <p>Or click on 'Search My Movies' to search your saved movies.</p>
    </div>
  </div>
</div>
  