<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="container">
        <div class="row">
          {{#each Search}} 
            <div class="col-md-3">
              bsosntuhasoenuhanoeuhan
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
      