<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="container">
        <div class="row">
          {{#each movieInfo}} 
            <div>
              <!--
              <img src={{imgURL}}> with movie poster
              <h3>{{Title}}</h3>
              <h4>{{Year}}</h4>
              <h4>{{Actors}}</h4>
              -->
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
      