<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Search My Movies</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content text-center">
      <div class="row">
        <h1>Search My Movies</h1>
      </div>
      
      <div class="row">
        <input type="text" name="find-movies" autofocus>
      </div>
      
      <div class="row">
        <button class="btn btn-default" data-dismiss="modal">Search</button>
      </div>
      
    </div>
  </div>
</div>